* {
  box-sizing: border-box;
  justify-items: center;
  /* background-color: ; */
  align-items: center;
}

a {
  cursor: pointer;
}

body {
  color: #222;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #039470;
}

header a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.div {
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
  color: #ECE6EA;
}

.link{
  color: #ECE6EA;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 24px;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0%;
  align-items: center;
  /* margin-bottom: 10rem; */
}

@media screen and (min-width: 700px) {
  div.post {
    grid-template-columns: 1fr 1.5fr;
  }
}

div.post div.texts h2 {
  color: #0f5644;
  margin: 0;
  font-size: 2rem;
}

div.post div.texts a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 24px 0;
  color: #888;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  /* color: #333; */
  color:#0d4f40dd;
}

div.post p.summary {
  margin: 10px 0;
  line-height: 1.8rem;
}

div.line {
  height: 1px;
  /* background: linear-gradient(to right, transparent, #5e5b5b, transparent); */
  background: linear-gradient(to right, transparent, #F8F1D9, transparent);
  margin: 0;
  width: 100%;
  width: 100%;
  width: 100%;
  margin-bottom: 3rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 300px;
  height: 300px;
  width: 40%;
  display: flex;
  overflow: hidden;
  margin: auto;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 1rem;
  color: #aaa;
  margin: 10px 0;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}

div.content p {
  line-height: 1.7rem;
  margin: 30px 0;
}

div.content li {
  margin-bottom: 10px;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

a svg {
  height: 20px;
}

.post {
  display: flex;
  margin-bottom: 20px;
  padding: 1.5rem;
}

.image {
  width: 25rem;
  height: 13rem;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postInput {
  display: block;
  width: 70%;
  margin: auto;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 10px;
}

.postButton{
  margin-bottom: 10px;
  cursor: pointer;
  width: 70%;
  display: block;
  margin: auto;
  background-color: #039470;
  border: 0;
  font-size: medium;
  font-weight:500;
  color: #fff;
  border-radius: 5px;
  padding: 12px 0;
  margin-top: 10px;
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6{
  height: 10rem;
}

.texts{
  display: flex;
  flex-direction: column;
}

.trending{
  text-align: center;
}

.account{
  height: 25px;
  width: 25px;
  color: #ECE6EA;
  display: flex;
}


.user-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
}

button.form{
  background-color: #039470;
  border: 0;
  font-size: medium;
  font-weight:500;
  color: #fff;
}

.logo{
  background-image: url('../public/B.png');
  height: 100px;
  width: 100px;
}